<html>
<head>
<base href="http://localhost:8400/"/>
</head>
<body>

<form method="post" enctype="multipart/form-data" action="hello">

name:
<input type="text" name="name">
<br />
age
<input type="text" name="age">

<INPUT type="submit" value="Send">
</form>
</body>
</html>